.source-item-header {
    margin: 1em;
    background: var(--card-bg);
    border-radius: var(--radius);
    padding: 0.5em 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .prev-item-button {
        margin-left: 1em;
        --task-button-color: var(--soft-shade);
        --task-button-fg: var(--fg);

        .inner-arrow {
            display: inline-block;
            position: relative;
            width: 1em;
            height: 1em;

            &::before, &::after {
                content: '';
                position: absolute;
                background: currentColor;
                top: 50%;
                left: 50%;
                width: 0.7em;
                --y: -0.1em;
                --h: 0.07em;
                height: calc(var(--h) * 2);
                border-radius: 100em;
                transform-origin: var(--h) 50%;
                --mh: calc(var(--h) * -1);
                transform: translateY(var(--y)) translate(var(--mh), var(--mh)) rotate(45deg);
            }
            &::after {
                transform: translateY(var(--y)) translate(var(--mh), var(--mh)) rotate(135deg);
            }
        }
    }
}

.source-item-contents {
    padding: 1em;
    margin: 0 auto;
    max-width: 56ch;
    font-family: 'Palatino', 'Linux Libertine O', 'Baskerville', serif;
    font-size: 18px;
    line-height: 1.5;
    -webkit-hyphens: auto;
    hyphens: auto;
    -webkit-user-select: initial;
    user-select: initial;
    word-break: break-word;

    .source-item-no-data {
        text-align: center;

        .no-data-inner {
            opacity: 0.7;

            .no-data-icon {
                max-width: 70%;
                width: auto;
                height: auto;
            }

            .no-data-label {
                margin-top: 1em;
            }
        }

        .no-data-fetch-container {
            margin-top: 1em;
            line-height: 0;
        }
    }

    .source-item-title {
        text-align: left;
    }

    .source-item-note {
        font-size: small;

        .note-id {
            text-transform: uppercase;
            font-size: small;
            font-weight: bold;
        }
    }
}

.source-item-fetch {
    vertical-align: middle;

    .task-button .task-button-inner {
        position: relative;
        margin: 0;
        width: 1.3em;
        height: 1.3em;
        padding: 0;

        .progress-indicator {
            transform: scale(0.9);
        }

        .svg-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .task-button.is-loaded .task-button-inner {
        color: inherit;

        --task-button-color: transparent;
        --task-button-fg: currentColor;
    }
}

.source-item-next {
    text-align: center;
    padding: 3em 0 1em 0;

    .next-item-button {
        line-height: 0;
        --task-button-color: var(--soft-shade);
        --task-button-fg: var(--fg);

        .task-button-inner {
            padding: 0.5em;
        }

        .inner-arrow {
            display: inline-block;
            position: relative;
            width: 2em;
            height: 2em;

            &::before, &::after {
                content: '';
                position: absolute;
                background: currentColor;
                top: 50%;
                left: 50%;
                width: 1.1em;
                --y: 0.4em;
                --h: 0.1em;
                height: calc(var(--h) * 2);
                border-radius: 100em;
                transform-origin: var(--h) 50%;
                --mh: calc(var(--h) * -1);
                transform: translateY(var(--y)) translate(var(--mh), var(--mh)) rotate(-45deg);
            }
            &::after {
                transform: translateY(var(--y)) translate(var(--mh), var(--mh)) rotate(-135deg);
            }
        }

        &.is-adventure-prompt {
            font-size: 1.3em;
            line-height: 1.5;

            .task-button-inner {
                padding: 0 1em;
                background: transparent;
            }

            .inner-prompt {
                margin-right: 0.5em;
            }
            .inner-prompt-contents {
                color: var(--accent);

                .inner-prompt-continue {
                    display: inline-block;
                    position: relative;
                    width: 1.5em;
                    height: 1em;
                    vertical-align: -0.2em;
                    --h: 0.1em;
                    --h2: calc(var(--h) / 2);

                    &::before {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 0;
                        background: currentColor;
                        width: 1.5em;
                        height: var(--h);
                        transform: translateY(calc(var(--h2) * -1));
                    }

                    .p-arrow {
                        position: absolute;
                        top: 50%;
                        left: 1.5em;

                        &::before, &::after {
                            content: '';
                            position: absolute;
                            background: currentColor;
                            width: 0.5em;
                            height: var(--h);
                            transform-origin: var(--h2) var(--h2);
                        }
                        &::before {
                            transform: translateY(calc(var(--h2) * -1)) rotate(135deg);
                        }
                        &::after {
                            transform: translateY(calc(var(--h2) * -1)) rotate(-135deg);
                        }
                    }
                }
            }
        }
    }

    .finished-button {
        font-size: 1.1em;

        .inner-icon {
            margin-right: 0.3em;
        }

        .inner-label {
            text-transform: uppercase;
        }

        &.is-finished {
            --task-button-color: var(--soft-shade);
            --task-button-fg: var(--fg);
        }
    }
}
