.source-page {
    max-width: 76ch;
    margin: 0 auto;

    .source-page-actions {
        background: var(--card-bg);
        border-radius: var(--radius);
        margin: 1em;
        padding: 0.5em 1em;
    }
}
