.source-page {
    max-width: 76ch;
    margin: 0 auto;

    .source-page-actions {
        background: var(--card-bg);
        border-radius: var(--radius);
        margin: 1em;
        padding: 0.5em 1em;
        display: flex;
        justify-content: space-between;

        .list-action-button, .delete-button {
            --task-button-color: var(--soft-shade);
            --task-button-fg: var(--fg);
        }
    }
}
